
<mat-toolbar>
  <span>
    <img src="{{logoPath}}" width="5%" (click)="onToggleSidenav()" />
    <span>
      Future Forward Party
    </span>
    <span [style.color]="colorGray">
      Intranet
    </span>
  </span>
</mat-toolbar>
<div class="container">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile [colspan]="4"
                   [rowspan]="1"
                   [style.background]="'url(/assets/image/10730.jpg)'"
                   [style.width.%]="100"
                   [style.height]="auto">
      <img class="show-display" src="{{profileImage}}" width="13%" (click)="onToggleSidenav()" />
      <div class="display-block">
        <label class="display-name">{{displayName}}</label>
        <label class="display-position">{{position}}</label>
        <label class="display-ss-type">สส. {{ssType}}</label>
        <div class="inside-contact">
          <span>
            <mat-icon [style.color]="colorOrange"> phone</mat-icon>
            <span> ต่อ {{insideContactTel}}</span>
          </span>
          <span [style.paddingLeft.px]="25">
            <mat-icon [style.color]="colorOrange"> email</mat-icon>
            <span> {{insideContactMail}}</span>
          </span>
        </div>
        
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>
